.image {
  width: 70%;
}

.facesInCss {
  color: grey;
  margin-top: 5%;
  margin-left: 5px;
  margin-right: 5px;
}

body{
  background-color: #505160;
}

.appBody{
  margin-top: 30px;
}

*:focus{
  outline:none !important;
}

.addLogModal {
  width: 80% !important;
}
