.image {
  width: 70%;
}

.facesInCss {
  color: grey;
  margin-top: 5%;
  letter-spacing: 10px;
}

body{
  background-color: #505160;
}

.appBody{
  margin-top: 30px;
}

/* @media screen and (max-width: 600px) {
  .activityCard {
    /* width: 100% !important; *
  }
} */

/* .activityCard{
  width: 100% !important;
  height: 250px !important;
  margin: 20px !important;
} */